/* header */
/* @media (min-width: 1428px) {
	.container {
	  max-width: 1428px !important;
	}
  }
.container{
	max-width: 1428px !important;
}
body,html{
	overflow-x: hidden !important;
	width: 100% !important;
	max-width: 100%;
}
.header-absolute{
	background: #2b313a;
} 
.navbar-collapse .navbar-nav .nav-item.active a,
.navbar-collapse .navbar-nav .nav-item a:hover,
.navbar-collapse .navbar-nav .nav-item a:active{
	color: #23aee6;
}
.navbar-collapse .navbar-nav .nav-item a{
	color: #FFFFFF;
	font-weight: 400;
} */


.swiper-height{
	height: 36rem;
}
.swiper-height .swiper-pagination .swiper-pagination-bullet{
	border-radius: 0;
	width: 2rem;
	height: 2px;
	background: #FFFFFF;
}
.swiper-container,
.swiper-container .swiper-wrapper,
.swiper-container .swiper-wrapper .swiper-slide,
.swiper-container .swiper-wrapper .swiper-slide img.img-fluid{
	width: 100%;
	height: 100%;
}
.main-title .title-top,
.main-title .title-litter{
	text-align: center;
}
.main-title .title-top{
	font-size: 1.67rem;
	margin: 5rem 0 1.1rem;
	color: #cf9237;
}
.main-title .title-center {
	font-size: 2.5rem;
	color: #cf9237;
	display: flex;
}
.main-title .title-center div{
	width: 8.3rem;
	height: 0;
	border: 1px solid #cf9237;
	background: #cf9237;
}
.main-title .title-litter{
	color: #999999;
	font-size: 1.2rem;
	margin-bottom: 4.6rem;
}
/* 产品和服务 */
.production-box{
	background: #3c2916;
}
.production-box .tab-box .center-content{
	display: flex;
	justify-content: center;
}
.production-box .tab-content >div{
	width: 100%;
}
/* .production-box .tab-content .center-content{
	border: 1px solid red;
	position: relative;
}
.production-box .tab-content .center-content .img{
	position: absolute;
	border: 1px solid blue;
} */
.production-box .tab-box .center-content .section-content-text{
	background: #FFFFFF; 	
}
.production-box .tab-box .nav .nav-link{
	text-align: center;
	padding: 0 3rem !important;
}
.production-box .tab-box .introduce{
	color: #FFFFFF;
	width: 9rem;
	padding: 0.35rem 0;
	border-radius: 50px 50px 50px 50px;
	border: 1px dashed #FFFFFF;
}
.production-box .tab-box .active .introduce {
	background: #d0933b;
}
.production-box .tab-box .active{
	background: none !important;
}
.production-box .tab-box .tab-content .section-content-image{
	text-align: center !important;
}
/*产品类别切换部分*/
.overflow-hidden{
	overflow: visible !important;
}
.production-box .tab-content .all-width{
	background: #FFFFFF;
	position: relative;
}
.production-box .tab-content .all-width>img{
	max-width: 100%;
}
.production-box .tab-content .all-width .list-item{
	/* border: 1px solid red; */
	text-align: center;
}
.production-box .tab-content .all-width .list-item>div:first-child{
	color: #5b4b3b;
	width: 50%;
	margin: 0 auto;
}
.production-box .tab-content .all-width .list-item .introduction{
	/* border: 1px solid blue; */
}
.production-box .tab-content .all-width .list-item .title{
	font-size: 2rem;
	margin-bottom: 1.2rem;
}
.production-box .tab-content .all-width .list-item .EnglistTitle{
	font-size: 1.5rem;
}
.production-box .tab-content .all-width .list-item .litile-intro{
	font-size: 0.8rem;
}
.production-box .tab-content .all-width .list-item .introduction{
	color: #999999;
	font-size: 1.1rem;
	margin-top: 3.5rem;
}
.production-box .tab-content .all-width #container,
.production-box .tab-content .all-width #container-plane{
	margin: 0 auto;
}
.main-title .selection{
	margin: auto;
}
.brief-intro video{
	max-width: 100%;
	/* width: 40.5rem !important; */
	/* height: 24.17rem !important; */
}
.brief-intro .right-intro{
	display: flex;
	font-size: 1.5rem;
	color: #333333;
}
.brief-intro  .view-more{
	width: 100%;
	color: #5b4b3b;
}
.main-title .selection .seletion-item.active{
	color: #28abe3;
}
.main-title .selection .seletion-item .introduce{
	font-size: 1rem;
	padding: 0.35rem 0; 
}

.section-about-1{
	/* background: #f5f5f5; */
}
.section-about-1 .section-content-text{
	font-size: 1.3rem;
}
.section-about-1 .section-content-text a{
	display: block;
	color: #666666;
	text-decoration: none;
}
.section-about-1 .section-content-text .btn-view{
	width: 13rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	border: 1px solid #898989;
}
.section-about-1 .section-heading{
	font-size: 2.5rem;
	font-weight: bold;
	color: #333333;
}
.section-about-1 .list-text-icon-accordion .sysmbel_c{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: #666666;
	display: inline-block;
}
.section-features{
	width: 100%;
	color: #FFFFFF;
	text-align: center;
}
.features-bgImg{
	background-repeat: no-repeat;
	background: url("../images/index/webCenter.png");
	background-size: 100% 100%;
}
.section-features .section-head{
	font-size: 2.5rem;
}	
	/*解决方案tab切换  */
	.section-features .tab-box{
		width: 77%;
		margin: 0 auto 5.8rem;
		display: flex;
	}
	.section-features .tab-box .tab-left{
		min-height: 40rem;
		border-right: 1px solid rgb(151,153,150);
	}
	.section-features .tab-box .tab-left .nav-link{
		width: 10rem;
		color: #FFFFFF;
		padding: 5px 0; 
		font-size: 1.3rem;
		margin-bottom: 1.6rem;
		border-radius: 0;
		margin-right: -1px;
	}
	.section-features .tab-box .tab-left .nav-link.active{
		background: transparent;
		color: #28abe3;
		border-right: 2px solid #28abe3;
	}
	.section-features .tab-box .tab-content .tab-pane{
		text-align: left;
	}
	.section-features .tab-box .tab-content .tab-pane .clause .clause-item,
	.section-features .tab-box .tab-content .tab-pane .other-proposal{
		font-size: 1.2rem;
	}
	.section-features .tab-box .tab-content .tab-pane .other-proposal .flex{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.section-features .tab-box .tab-content .tab-pane .other-proposal .icon-item{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	/* 服务 */
	.server-section .seletion-item{
		margin-bottom: 4rem;
	}
	.server-section .seletion-item .detailed-intro{
		color: rgb(155,155,155);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* 知识分享 */
	.section-knowledge{
		text-align: left;
		background:rgb(245,245,245);
	}
	.section-knowledge .share-content{
		margin: 0 auto 6rem;
	}
	.section-knowledge .share-content .share-item a{
		color: #212529;
		display: flex;
		flex-direction: column;
		text-decoration: none;
	}
	.section-knowledge .share-content .share-item a span{
		padding: 20px 0 20px 35px;
	}

	/* 关于我们 */
	.section-footer1{
		background-size: 100% 100% !important;
		background-image: url("../images/index/footer.png") !important;
		background-repeat: no-repeat !important;
	}
	.section-footer1 .title-litter{
		margin-bottom: 3.33rem;
	}
	.section-footer1 .footer-content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 1.25rem;
	}

	/* footer */
	/* .footer_info{
		font-size: 1.25rem;
		background: #2e3133;
	}
	.footer_info .contactType{
		margin: 0 auto;
		display: flex;
		padding: 2rem 0;
		flex-wrap: wrap;
		justify-content: space-around;
		border-bottom: 1px solid #797979; 
	}
	.footer_info .companyInfo{
		display: flex;
		margin: 0 auto;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	.footer_info .companyInfo li{
		list-style-type: none;
	} */

	
@media screen and (max-width:768px){
	.function-menu .container .row>div {
		border: none;
		border-bottom: 0.11rem solid #c1c1c1 !important;
	}
	.function-menu .container .row>div:last-child{
		border: none !important;
	}
	.production-box .tab-box a:nth-child(1),
	.production-box .tab-box a:nth-child(2),
	.production-box .tab-box a:nth-child(3){
		margin-bottom: 1rem;
	}
}
@media screen and (max-width:992px){
	.function-menu .container .row>div:nth-child(2) {
		border: none;
	}
	.production-box .tab-box a:nth-child(1),
	.production-box .tab-box a:nth-child(2){
		margin-bottom: 1rem;
	}
	.section-knowledge .share-content .share-item{
		margin-bottom: 2rem;
	}
}
/* footer */
/* footer .copyright{
    padding: .5rem 0;
	font-size: 1.2rem;
	color: #fff;
	background: #242424;
	text-align: center;
}
footer .copyright a{
	color: #fff;
} */

	/* .slider::-webkit-scrollbar{  
		width: 0;
		height: 0;
		background-color: none;
	} */

/* 产品轮播图 */
#container,#container-plane {
	position: relative;
	width: 800px;
	height: 25rem;
	overflow: hidden;
}

#list,#list-plane {
	position: absolute;
	z-index: 1;
	width: 4000px;
	height: 25rem;
	transition: all .3s;
}

#list .list-item,
#list-plane .list-item {
	float: left;
	width: 800px;
}
.bottom_bg{
	background: #3c2916;
	height: 18rem;
	opacity: relative;
}
.current-img,
.currentPlane-img{
	width: 54.17rem;
	height: 26.67rem;
	/* max-width: 100%;
	max-height: 100%; */
	position: absolute;
	z-index: 10;
	margin: 0 auto;
}
.arrow {
	position: absolute;
	top: 40px;
	z-index: 2;
	width: 40px;
	height: 40px;
	font-size: 36px;
	font-weight: bold;
	line-height: 39px;
	text-align: center;
	color: #fff;
	background-color: RGBA(0, 0, 0, .7);
	cursor: pointer;
}

#container:hover .arrow {
	display: block;
}

#prev,#prev-plane {
	left: 140px;
}

#next,#next-plane {
	right: 140px;
}

/* 产品尾部4个标签 */
.production-footer{
	background: #FFFFFF;
	padding: 3rem 0 9rem;
}
.production-footer .container{
	display: flex;
	width: 60%;
	justify-content: space-around;
}
.production-footer .proFooter{
	display: flex;
	width: 22rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 1rem 3rem 0;
	border-right: 2px solid #999999;
}
.production-footer .proFooter:last-child{
	border: none;
}
/* 作品案例 */
.workCase .container{
	width: 62%;
	padding: 0;
}
.workCase .container .big-img,
.workCase .container .little-img{
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.workCase .container .big-img{
	/* height: 26.67rem; */
	max-width: 100%;
}
.workCase .container .little-img{
	/* height: 14.58rem; */
	max-width: 100%;
}
.workCase .container .big-img img,
.workCase .container .little-img img{
	max-height: 100%;
	width: 100%;
}
.workCase .container .big-img .img,
.workCase .container .little-img .img{
	transition: all 0.5s;
}
.workCase .container .big-img .img:hover .shadow,
.workCase .container .little-img .img:hover .shadow{
	visibility: visible;
}
.workCase .container .img{
	position: relative;
}
.workCase .container .shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	visibility: hidden;
	color: rgba(250,250,250,0.7);
	background: rgba(0,0,0,0.5);
}
.workCase .container .shadow div{
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.workCase .container .shadow div span{
	padding-bottom: 2rem;
	font-size: 1.42rem;
}
.workCase .container .shadow div p{
	margin: 0 auto 0.1rem;
}
.newsInformation{
	/* border: 1px solid red; */
}
.newsInformation .center-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.newsInformation .center-content .newsItem{
	display: flex;
	width: 25rem;
	flex-direction: column;
}
.newsInformation .center-content .newsItem h4{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	padding: 1rem 0;
}
.newsInformation .center-content .newsItem .content{
	overflow: hidden;
	word-break:break-all;  
	text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3;
	line-height: 1.5rem;
	margin-top: 1rem;
}
.newsInformation .center-content .newsItem img{
	max-width: 100%;
}
/* 战略合作 */
.cooperative-enterprise .containerCooperate{
	display: flex;
	align-items: center;
	justify-content: center !important;
}
#listCooperate {
	overflow: hidden;
	margin: 0 auto;
	width: 800px;
    height: 25rem;
	position: relative;
}
#listInner {
	position: absolute;
	height: 100%;
	transition: all 0.3s;
}

#listInner .img {
	float: left;
	width: 14rem;
	height: 100%;
	text-align: center;
	margin-right: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#listInner .img img, #listInner .img span{
	display: block;
	margin: 0 auto 2rem;
	font-weight: bold;
}
#prevLeft, #nextRight{
	cursor: pointer;
}
#prevLeft img, #nextRight img{
	max-width: 100%;
}

