
.modal-open #up-to-top {
	right: 47px;
  }
  #up-to-top {
	position: fixed;
	text-align: center;
	right: 30px;
	bottom: 30px;
	color: #fff;
	cursor: pointer;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	z-index: 100;
	height: 40px;
	width: 40px;
	line-height: 40px;
	background: rgba(0, 0, 0, 0.4) no-repeat center;
	-webkit-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;
	transition: background-color 0.1s linear;
	padding: 6px 0;
  }
  #up-to-top:hover {
	background: black no-repeat center;
  }
  #up-to-top .fa-angle-up::before{
	  font-size: 25px;
  }
.innerPage .container .card-title-link{
	font-size: 1.3rem;
	font-weight: 500;
}
.innerPage .card{
	border: none;
}
.innerPage .container .card-text{
	font-size: 1rem;
	font-weight: 500;
}
.innerPage .container .card-text.flex-card{
	display: flex;
	flex-direction: column;
}
/* 珠宝定制助手 */
.section-product-3{
	max-height: 68rem;
	background: #ecf8ff;
}
.section-product-3 .nav {
	color: #666666;
	font-size: 1.3rem;
}
.section-product-3 .nav .nav-item .nav-link{
	width: 13rem;
	color: #666666;
	text-align: center;
	padding: 1rem 0;
	background: #FFFFFF;
	border-right: 1px solid #eeeeee;
}
.section-product-3 .nav .nav-item:last-child .nav-link{
	border: none;
}
.section-product-3 .nav .nav-item .nav-link.active {
	color: #FFFFFF;
	background: #05a5ff;
}
.section-product-3 .nav .nav-item .nav-link.active + div{
	visibility: visible;
}
.section-product-3 .DZ_Class{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.section-product-3 .DZ_Class .center-content{
	width: 44%;	
	text-align: left;
}
.section-product-3 .DZ_Class .center-content .content p {
	color: #818181;
	font-size: 1rem;
	margin-top: 1rem;
}
.section-product-3 .DZ_Class .center-content .body .content,
.section-product-3 .DZ_Class .center-content .body{
	display: none;
}
.section-product-3 .DZ_Class .center-content .body .content.active,
.section-product-3 .DZ_Class .center-content .body.active{
	display: block;
}
.section-product-3 .DZ_Class .center-content .second_tab{
	text-align: left;
}
.section-product-3 .DZ_Class .center-content .second_tab a{
	cursor: pointer;
	font-size: 13px;
}
.section-product-3 .DZ_Class .center-content .second_tab a.active{
	color: #05a5ff;
}
.section-product-3 .DZ_Class .center-content .body .content{
	height: 43rem;
}
.section-product-3 .DZ_Class .center-content .body .content .swiper-container .swiper-pagination{
	bottom: 8rem;
} 
.section-product-3 .DZ_Class img.img-fluid{
	max-width: 80%;
}
.section-product-3 .DZ_Class .swiper-container .swiper-pagination-bullets{
	/* text-align: center; */
	width: 80%;
}
.section-product-3 .DZ_Class .swiper-container .swiper-wrapper .swiper-slide img.img-fluid{
	height: auto !important;
}
#swiper2 p{
	position: relative;
	bottom: 5.5rem;
}
.section-product-3 .DZ_intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../images/index/bgChild.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.section-product-3 .DZ_intro .inner_intro{
	max-width: 22rem;
}
.section-product-3 .DZ_intro .title{
	font-size: 1.8rem;
	border-bottom: 1px dotted #cbcbcb;
}
.section-product-3 .DZ_intro .title-little{
	font-size: 1.2rem;
}
.section-product-3 .DZ_intro ul{
	padding-left: 2rem;
}
.section-product-3 .DZ_intro li{
	color: #808080;
}

	/* 实心箭头 */
	.sx-arrow-down{
		visibility: hidden;
		margin: 0 auto;
		border-style:solid dashed dashed dashed;
		border-width:10px;
		border-color:#05a5ff transparent transparent transparent;
		width:0;
		height:0;
	}

	/* 合作 */
	.section-Cooperation{
		margin: 0 auto;
	}
	.section-Cooperation .section-head{
		font-size: 2.8rem;
		text-align: center;
	}
	.section-Cooperation .tab-box .nav{
		border-bottom: 2px solid #e5e5e5;
	}
	.section-Cooperation .tab-box .nav-link{
		display: flex;
		font-size: 1.6rem;
		color: #818181;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin-bottom: -2px;
	}
	.section-Cooperation .tab-box .nav-link span{
		padding: 0 1.5rem 4rem;
	}
	.section-Cooperation .tab-box .nav-link.active span{
		border-bottom: 2px solid #05a5ff;
	}
	.section-Cooperation .tab-box .nav-link.active{
		background: none;
		color: #05a5ff;
	}
	.section-Cooperation .tab-box .tab-content .tab-pane p{	
		color: #818181;
	}
