.center-content{
	width: 62%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
html{
	font-size: 12px;
}
.commonTitle{
	min-height: 61.67rem;
	background-image: url("../images/about/about_bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat; 
}
.commonTitle .center-content{
	display: flex;
	flex-direction: column;
}
.commonTitle .center-content .title{
	color: #FFFFFF;
}
.commonTitle .center-content .title span{
	font-size: 2.5rem;
}
.commonTitle .center-content .title sub{
	font-size: 1rem;
	padding-left: 2rem;
}
.commonTitle .center-content .title_bar{
	display: flex;
	align-items: center;
}
.commonTitle .center-content .title_bar div{
	width: 31.67rem;
	border: 1px solid #FFFFFF;
}
.commonTitle .center-content .title_bar img{
	margin: 0 2rem;
}
.commonTitle .center-content .section-about{
	display: flex;
}
.commonTitle .center-content .section-about .US_title{
	/* color: #d0923b; */
	color: rgba(208,146,59,0.8);
	font-size: 2rem;
}
.commonTitle .center-content .US_info{
	margin-left: 9.58rem;
}
.commonTitle .center-content .US_info .US_contact p{
	color: rgba(255,255,255,0.6);
	font-size: 1.33rem;
}
