.center-content{
	width: 62%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
html{
	font-size: 12px;
}
.commonTitle{
	min-height: 61.67rem;
	background-image: url("../images/about/about_bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat; 
}
.commonTitle .center-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.commonTitle .center-content .title{
	color: #FFFFFF;
	overflow: hidden;
	width: 100%;
	text-align: left;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.commonTitle .center-content .title span{
	font-size: 2.5rem;
}
.commonTitle .center-content .title sub{
	font-size: 1rem;
	padding-left: 2rem;
}
.commonTitle .center-content .title_bar{
	display: flex;
	align-items: center;
	width: 100%;
}
.commonTitle .center-content .title_bar div{
	flex: 1;
	border: 1px solid #FFFFFF;
	background: #FFFFFF;
}
.commonTitle .center-content .title_bar img{
	margin: 0 2rem;
}
.commonTitle .center-content .section-about{
	display: flex;
}
.commonTitle .center-content .section-about .US_title{
	color: rgba(208,146,59,0.9);
	font-size: 2rem;
}
.commonTitle .center-content .US_info{
	margin-left: 9.58rem;
}
.commonTitle .center-content .section-about .US_title p{
	margin-bottom: 0.2rem;
}
.commonTitle .center-content .US_info .US_contact p{
	color: rgba(255,255,255,0.6);
	font-size: 1.33rem;
}
