#teamWork,#consultant,#strategy,#planeBox,#videoBox{
	visibility: hidden;
}
.main-wrap video{
	width: 100%;
}
.workCase-box .tab-box .center-content{
	display: flex;
	justify-content: center;
}
.workCase-box .tab-box .center-content .section-content-text{
	background: #FFFFFF; 	
}
.workCase-box .tab-box .nav .nav-link{
	text-align: center;
	padding: 0 3rem !important;
}
.workCase-box .tab-box .introduce{
	color: #333333;
	width: 10rem;
	font-size: 1.3rem;
	padding: 0.3rem 0;
	border-radius: 50px 50px 50px 50px;
	border: 1px dashed #333333;
}
.workCase-box .tab-box .active .introduce {
	background: #d0933b;
	color: #FFFFFF;
	border: 1px dashed transparent;
}
.workCase-box .tab-box .active{
	background: none !important;
}
.workCase-box .tab-box .tab-content .section-content-image{
	text-align: center !important;
}
.workCase-box .tab-content .videoList{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.workCase-box .tab-content .videoList .video-item{
	width: 16.67rem;
	margin-right: 1.67rem;
	margin-bottom: 1rem;
	cursor: pointer;
}
.workCase-box .tab-content .videoList .video-item .img-shadow{
	width: 100%;
	position: relative;
	height: 10.83rem;
}
.workCase-box .tab-content .videoList .video-item .img-shadow .popUpVideo{
	width: 100%;
	height: 100%;
}
.workCase-box .tab-content .videoList .video-item .img-shadow>img{
	width: 100%;
	height: 100%;
}
.workCase-box .tab-content .videoList .video-item .img-shadow .shadow{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	visibility: hidden;
	background: rgba(0,0,0,0.7);
}
.workCase-box .tab-content .videoList .video-item:hover .img-shadow .shadow,
.workCase-box .tab-content .videoList .video-item:hover .img-shadow .shadow img{
	visibility: visible;
}
.workCase-box .tab-content .videoList .video-item .img-shadow .shadow div,
.workCase-box .tab-content .videoList .video-item .img-shadow .shadow a{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.workCase-box .tab-content .videoList .video-item .img-shadow .shadow img{
	max-width: 100%;
	visibility: hidden;
}
.workCase-box .tab-content .videoList .video-item .title{
	font-size: 1.15rem;
	margin: 0.5rem 0;
}
.workCase-box .tab-content .videoList .video-item .content{
	font-size: 0.8rem;
	max-width: 100%;
	max-height: 6.5rem;

	/* 单行省略 */
	/* overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap; */

	/* 多行省略 */
	overflow: hidden;
	word-break:break-all;
	text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
}

.workCase-box .center-content{
	display: flex;
	flex-direction: column;
}
.workCase-box .center-content .title{
	color: #333333;
}
.workCase-box .center-content .title span{
	font-size: 2.5rem;
}
.workCase-box .center-content .title sub{
	font-size: 1rem;
	padding-left: 2rem;
	color: #6e6e6e;
}
.workCase-box .center-content .title_bar{
	display: flex;
	align-items: center;
}
.workCase-box .center-content .title_bar div{
	/* width: 31.67rem; */
	width: 43rem;
	border: 1px solid #6e6e6e;
}
.workCase-box .center-content .title_bar img{
	margin: 0 2rem;
}
.workCase-box .center-content .tab-box .selection{
	display: flex;
	justify-content: center;
}

/* 平面类 */
.workCase-box .center-content .tab-content .plane_Img{
	width: 74.16rem;

}
.workCase-box .center-content .tab-content .plane_Img .header_Img{
	margin-bottom: 1rem;
	text-align: center;
}
.workCase-box .center-content .tab-content .plane_Img .header_Img img{
	/* width: 100%; */
	/* height: 25.42rem; */
}
.workCase-box .center-content .tab-content .row_Img{
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.workCase-box .center-content .tab-content .row_Img >div{
	width: 37rem;
}
.workCase-box .center-content .tab-content .row_Img.oddNumber >div.right,
.workCase-box .center-content .tab-content .row_Img.evenNumber >div.left{
	text-align: right;
}
.workCase-box .center-content .tab-content .row_Img >div.right img{
	/* max-width: 100%; */
	/* margin: 1.5rem 1.5rem 0 0; */
	margin: 1rem 0 0 0;
}
.workCase-box .center-content .tab-content .row_Img >div.left{
	display: flex;
	flex-wrap: wrap;
}
.workCase-box .center-content .tab-content .row_Img.evenNumber >div.left img{
	margin: 1rem 0 0 1rem;
}
.workCase-box .center-content .tab-content .row_Img.oddNumber >div.left img{
	margin: 1rem 1rem 0 0;
}
/*试戴图滚动加载*/
#scropFade{
	/* height: 0 !important;
	opacity: 0 !important; */
	transition: all 0.3s;
}
/* 白底图 */
#bg_white{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#bg_white .imgItem{
	width: 17.5rem;
	height: 17.5rem;
	text-align: center;
	line-height: 17.5rem;
	margin-right: 3rem;
	margin-bottom: 3rem;
}
#bg_white .imgItem img{
	max-width: 100%;
	max-height: 100%;
}
/* 场景图 */
#albumList .sceneItem,
#sceneList .sceneItem_true,
#tryOnList .sceneItem_true{
	display: flex;
	margin-bottom: 1.2rem;
	justify-content: center;
}
#albumList .sceneItem div img,
#sceneList .sceneItem_true div img,
#tryOnList .sceneItem_true div img{
	width: 25rem;
	height: 16rem;
}
#albumList .sceneItem > img,
#tryOnList .sceneItem_true >img,
#sceneList .sceneItem_true >img{
	width: 51.25rem;
	height: 32.9rem;
}
#albumList .sceneItem > img.imgItem{
	width: 25.2rem;
	height: 32rem;
}
.scenePlane_Img .header_Img,
.planePoster_Img .header_Img{
	text-align: center;
}
.scenePlane_Img .header_Img img{
	width: 77.08rem;
	height: 40rem;
	/* height: 51.33rem; */
	margin: 0 auto 10px;
}
.planePoster_Img .header_Img img{
	width: 74.5rem;
	margin-bottom: 1.2rem;
}
#sceneList .sceneItem,
#posterList .sceneItem, #posterList .sceneItem_row,
#albumList .sceneItem{
	width: 100%;
	display: flex;
	margin-bottom: 1.2rem;
	justify-content: center;
}
#posterList .sceneItem_row{
	width: 74.5rem;
	margin: 0 auto 10px;
}
#posterList .sceneItem_row>img{
	width: 16rem;
	height: 29rem;
}
#posterList .sceneItem_row .sceneItem_col{
	flex: 1;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
#posterList .sceneItem_row .sceneItem_col img{
	width: 100%;
}
#posterList .sceneItem_row>img:nth-child(2){
	width: 15rem;
}
#tryOnList .sceneItem_true div,
#sceneList .sceneItem_true div,
#sceneList .sceneItem div,
#posterList .sceneItem div,
#albumList .sceneItem div{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#posterList .sceneItem div>img{
	width: 26.91rem;
	height: 16.67rem;
}
#posterList .sceneItem > img{
	width: 46.67rem;
	height: 34.17rem;
}

/* 团队合作-团队风采*/
.workCase-box .figureIntroduction{
	/* margin-right: 6rem; */
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	/* padding: 0 5rem; */
}
.workCase-box .figureIntroduction .row_box{
	display: flex;
	flex-wrap: wrap;
}
.workCase-box .figureIntroduction .figureItem{
	width: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin-right: 4rem; */
	margin-right: 3rem;
	margin-left: 3rem;
	margin-top: 7.5rem;
	font-size: 1.2rem;
}
.workCase-box .figureIntroduction .figureItem .img_border{
	width: 12.5rem;
	height: 12.5rem;
	margin-bottom: 3.5rem;
}
.workCase-box .figureIntroduction .figureItem .img_border img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.workCase-box .figureIntroduction .figureItem .figureExperience{
	margin-top: 1.5rem;
}
/* 团队合作-公司顾问 */
.workCase-box .advisoryList{
	margin: 0 auto;
}
#consultant .center-content .advisoryList{
	padding: 0 10rem;
}
.workCase-box .advisoryList .advisoryItem{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	margin: 8rem 0;
}
.workCase-box .advisoryList .advisoryItem img{
	width: 21.67rem;
	height: 21.67rem;
	border-radius: 50%;
	margin-bottom: 5rem;
}
.workCase-box .advisoryList .advisoryItem>span{
	color: #333333;
}
.workCase-box .advisoryList .advisoryItem p{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #6e6e6e;
}

/* 战略合作 */
#container {
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
#strategy .slider_box{
	display: flex;
	align-items: center;
	justify-content: center !important;
}
#list {
	position: absolute;
}

#list .img {
	float: left;
	width: 14rem;
	height: 100%;
	text-align: center;
	margin-right: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#list .img img, #list .img span{
	display: block;
	margin: 0 auto 2rem;
	font-weight: bold;
}
#prevLeft, #nextRight{
	cursor: pointer;
}
#prevLeft img, #nextRight img{
	max-width: 100%;
}
