/*此文件定义业务的公用样式*/
*{
	padding:0;
	margin:0;
	-webkit-tap-highlight-color:transparent;
	/*设置元素宽高计算方式*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
}
html{
	font-size: 100px;
}
body,
html {
	font-size: 0.24rem;
	line-height: 1.5em;
	font-family: -apple-system,Helvetica,sans-serif;
	color: #6e6e6e;
	background: #fff;
}

/*数字输入框不显示箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
input[type="number"]{
-moz-appearance: textfield;
}
input:focus{
outline: none;
}
a,
a:hover,
a:active{
	color: #6e6e6e;
	text-decoration: none !important;
}
@media (min-width: 576px){
	.container {
		max-width: 100% !important;
	}
}
/* 轮播图的样式 */
.swiper-height.index{
	height: 10.1rem;
	padding-top: 1.2rem; 
}
.swiper-height img.img-fluid{
	max-width: none;
	max-height: 100%;
	width: 100%;
}
.center-area{
	margin: 0 auto;
	padding: 0 0.5rem;
}
.main-title{
	padding: 0 0.56rem;
}
.f-row{
	display: flex;
	justify-content: center;
}
.f-column{
	display: flex;
	flex-direction: column;
}
.font-bold{
	font-weight: bold;
}
.main-title{
	margin-top: 0.7rem;
	margin-bottom: 0.4rem;
}
.main-title .title{
	font-size: 0.5rem;
	color: #d0913a;
	margin: 0 0.6rem 0.15rem;
}
.litile-title {
	font-size: 0.12rem;
	color: #d0913a;
	letter-spacing: 0.05rem;
}
.main-title .inner-center{
	justify-content: space-between;
	align-items: center;
}
.main-title .inner-center{
	
}
.main-title>div:first-child,
.main-title>div:last-child{
	flex: 1;
	background: rgba(208,145,58,0.6);
	border: 1px solid rgba(208,145,58,0.6);
}
/* 内页导航栏中显示的文字 */ 
.swiper-height{
	height: 4.4rem;
	padding-top: 1.2rem;
}
.swiper-height .swiper-slide{
	position: relative;
}
.swiper-height .swiper-slide >div{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
}
.swiper-height .swiper-slide >div .title{
	font-size: 0.5rem;
	color: #FFFFFF;
	margin-bottom: 0.2rem;
}
.swiper-height .swiper-slide >div .little_title{
	font-size: 0.2rem;
	color: #FFFFFF;
	letter-spacing: 0.1rem;
}
/* tab页代替二级菜单切换 */
.tab-Mobile {
	margin-bottom: 0.54rem;
}
.tab-Mobile .tab-top a{
	display: block;
	padding: 0;
	border-radius: 0;
	border-left: 0.05rem solid transparent;
}
.tab-Mobile .nav-pills .nav-link.active, .show>.nav-pills .nav-link{
	background: none;
}
.tab-Mobile .tab-top a .introduce{
	display: block;
	color: #6d6d6d;
	font-size: 0.35rem;	
	padding: 0.1rem 0;
	margin-left: 0.2rem;
}
.tab-Mobile .tab-top a.active{
	border-left: 0.05rem solid #ce8e34;
}
.tab-Mobile .tab-top a.active .introduce{
	color: #ce8e34;
}
/*  */
#teamPeopleList{
	font-size: 0.3rem !important;
}
.tab-Mobile .tab-content .panel-heading{
	border-top: 1px solid #f7ecdd;
}
.tab-Mobile .tab-content #teamPeopleList .panel:last-child .panel-heading{
	border-bottom: 1px solid #f7ecdd;
}
.section1 .panel-heading{
	height: 0.8rem;
}
.section2 .panel-heading{
	height: 2rem;
}
.section2 p{
	margin-bottom: 0.05rem;
}
.section2 .left_info span:first-child{
	margin-bottom: 0.1rem;
}
#adList{
	margin-bottom: 0.05rem;
	font-size: 0.2rem;
	flex-wrap: wrap;
}
#adList .adItem{
	width: 2rem;
	height: 3rem;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
	text-align: center;
}
#adList .adItem img{
	max-width: 100%;
}
.section2 img{
	width: 2rem;
	height: 2rem;
	display: flex;
	margin: 0.2rem auto;
}
.tab-Mobile .tab-content .panel-heading a{
	width: 100%; 
	height: 100%;
	display: flex;
	font-size: 0.3rem !important;
	justify-content: space-between;
	align-items: center;
}
.tab-Mobile .tab-content .panel-heading a .img{
	width: 0.25rem;
	height: 0.25rem;
	margin-right: 0.35rem;
}
.tab-Mobile .tab-content .panel-heading a .img img{
	height: 100%;
	width: 100%;
}
.tab-Mobile .tab-content .panel-heading a .left_info{
	padding-left: 0.05rem;
	color: #d0933c;
}
.tab-Mobile .tab-content .panel-heading a.collapsed .left_info{
	color: #333333;
}
.tab-Mobile .tab-content .panel-heading a .left_info span:first-child{
	width: 1.5rem;
	padding-right: 0.45rem;
}
.tab-Mobile .tab-content .panel-body{
	font-size: 0.28rem;
	padding: 0.3rem 0;
}
.tab-Mobile .tab-content .panel-body >div >img{
	width: 2.5rem;
	height: 2.5rem;
}
